body, ul, li, h1, h2, a{
  /* margin: 10px; */
  padding: 0;
  font-family: airal;
}
.banner img{
  max-width: 100%;
  height: 50%;
}
.banner .welcome{
  color: #f63232;
  padding: 30px;
  position: absolute;
  left: 35%;
  top: 2%;
}
.banner h2{
  font-size: 74px;
}
.banner h2 span{
  font-size: 1.3em;
}
.banner_img {
  height: 500px;
  width: 100%;
}

main{
  max-width: 100%;
  width: 1200px;
  margin: 0 ;
  box-sizing: border-box;
}
.ancestor_wrapper {
  width: 100%;
}
.mian_wrapper {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: auto;
}
.img_wrapper {
display: inline-block;
width: 25%;
}
.mian_wrapper {
  /* max-width: 100%; */
}

.img_items {
  width: 98.5%;
  height: 170px;
}
.about_us{
  text-align: center;
  color: #f63232;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
#img_one{
  width: 210px;
  height: 176px ;
}
#img_two{
  width: 250px;
  height: 150px ;
}
.img_one_wrapper {
  width: 20%;
}
.text-wrapper {
  width: 20% ;
}
.img_two_wrapper {
  width: 20%;
}

footer{
  background: #f63232;
  color: white;
  padding: 10px;
  text-align: center;
}
nav li a:hover{
  text-decoration: underline;
}
.mian_wrapper  li:hover{
  position: relative;
  top: -4px;
}

section.join p::first-letter{
  font-size: 1.5em;
}
 p::selection{
  background-color: #f63232;
  color: white;
}
P::after{
  content: '';
}
.life_button{
  background-color: #f63232;
  font-size: 25px;
  border-radius: 9px;
  color: white;

}


@media screen and (max-width:1400px) {
  .banner .welcome h2{
    font-size: 60px;
  }


  }

  @media screen and (max-width:960px) {
    .banner .welcome h2{
      font-size: 40px;
    }

    }
    @media screen and (max-width:700px) {
      .banner .welcome{
        position:relative;
        text-align: center;
        padding: 10px;
      }
      .banner .welcome br{
        display: none;
      }
      .banner .welcome h2{
        font-size: 25px;
      }
      .banner .welcome span{
        font-size: 1em;
      }
      .mian_wrapper  li{
        width: 100%;
        margin: 20px auto;
        display: block;
      }

      }
      @media screen and (max-width: 560px){

        nav li{
          font-size: 20px;
          display: block;
          width: 100%;
          margin: 12px 0;
        }
      
      }